.venv
__pycache__
data/
*/__pycache__

# データ系
*.wav
*.mid
*.pt
*.wav.gz
*.mid.gz
*.pt.gz
*.wav.bz2
*.mid.bz2
*.pt.bz2

*.pt
*.wav
*.midi
*.mid
ckpt/
ckpt_vae/

soundfont/

GeneralUser-GS/

cache/
dataset/
checkpoints/
maestro-v3.0.0/
checkpoints_maestro/
checkpoints_maestro_DA/
checkpoints_maestro_SSL/

output/
outputs/
YourMT3

ckpt_conf_midi/

ckpt_conf_mlm/
onset_and_frames/runs/

Discriminator/ckpt_conf_giantmidi